TODO
__pycache__/
TEST
colabfold_initial_guess/make_apptainer/test/
colabfold_initial_guess/make_apptainer/requirements.list
colabfold_initial_guess/make_apptainer/log
colabfold_initial_guess/make_apptainer/pyro.list
colabfold_initial_guess/make_apptainer/colab_fold_ig.sif
colabfold_initial_guess/make_apptainer/colab_fold_ig_cuda12.sif
colabfold_initial_guess/make_apptainer/log12
colabfold_initial_guess/make_apptainer/jaxlib.list
mpnn_git_repo/make_apptainer/mpnn_pyro.sif
mpnn_git_repo/make_apptainer/log
